<meta name="fediverse:creator" content="@acursedcomrade@infosec.exchange">
<link rel="me" href="https://infosec.exchange/@acursedcomrade">
<script 
    defer 
    src="https://ticker.bastards.party/script.js" 
    data-website-id="61600b1d-9647-4e28-8c67-0b6eb70706fc"
    data-do-not-track="true"
    data-domains="comradelab.win,www.comradelab.win,acursedcomrade.github.io"
    data-exclude-search="true"
></script>
