<meta name="fediverse:creator" content="@acursedcomrade@infosec.exchange">
<link rel="me" href="https://github.com/aCursedComrade">
<link rel="me" href="https://infosec.exchange/@acursedcomrade">
<link rel="me" href="https://steamcommunity.com/id/acursedcomrade/">
<link rel="me" href="https://www.linkedin.com/in/loshana-aloka/">
