<link rel="me" href="https://read.cv/acursedcomrade">
<link rel="me" href="https://github.com/aCursedComrade">
<link rel="me" href="https://twitter.com/aCursed_Comrade">
<link rel="me" href="https://infosec.exchange/@acursedcomrade">
